
@import "bootstrap";

$body-bg: #000;
$font-family-sans-serif: 'Oxygen', 'Helvetica Neue', Helvetica, Arial;
$navbar-height: 45px;
$navbar-default-bg: white;
$jumbotron-bg: white;
$btn-primary-bg: #ea6153;
$link-color: #ea6153;

.navbar {
	background-color: white;
}